<template>
  <div>
    <SearchForm />
    <SearchFilterForm v-if="offers.length > 0" />

    <hr />

    <SearchResults />

    <hr />

    <MatrixRank />
  </div>
</template>

<script>
import SearchForm from "../components/search/SearchForm";
import SearchResults from "../components/search/SearchResults";
import SearchFilterForm from "../components/search/SearchFilterForm";

import MatrixRank from "../components/matrix/MatrixRank";
import { AuthApi } from "../api/AuthApi";

export default {
  components: {
    SearchForm,
    SearchResults,
    SearchFilterForm,

    MatrixRank
  },
  computed: {
    offers: function() {
      return this.$store.getters.getOffers;
    }
  },
  mounted() {
    const api = new AuthApi();

    api
      .authorization()
      .then(({ data }) => this.$store.commit("authorize", data));
  }
};
</script>
