.search-result-directions {
    display: flex;
    padding:12px;
}

.search-result-directions-item {
    margin-right:12px;
}

.search-result-button {
    user-select:none;
}

.search-result-button-title {
    display: flex;
}

.search-result-button-image {
    margin-right: 12px;
}

.search-result-table-container {
    padding: 12px;
}

.search-result-table {
    border: 1px solid #cccccc;
}

.search-result-table-header {
    padding:12px;
    border-bottom:1px solid #cccccc;
}

.search-result-table-item {
    padding:12px;
}