.input {
    height: 30px;
    outline: none;
    padding: 0 6px;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: white;
}

.submit-button {
    height: 30px;
    outline: none;
}

.search-form-container {
    display:flex;
    margin-bottom:12px;
    align-items:flex-end;
}

.search-form-form-field {
    display:flex;
    flex-direction:column;
    margin-right:12px;
}