.matrix-rank-container {
    display: flex;
    margin: 12px 0;
    flex-direction: column;
}

.matrix-rank-result {
    font-weight: bold;
}

.matrix-rank-matrix-container {
    display: flex;
    align-items: center;
}