.matrix-item-table {
    margin: 12px;
    border-radius: 10px;
    border-left: 1px solid;
    border-right: 1px solid;
}

.matrix-item-cell {
    width: 28px;
    height: 28px;
    text-align: center;
}