<template>
  <div>
    <h3>Фильтр:</h3>
    <form class="search-filter-form">
      <div class="search-filter-form-field">
        <label for="minDuration">Минимальное время полета:</label>
        <input
                id="minDuration"
                v-model="minDuration"
                type="number"
                min="0"
                class="input"
                name="minDuration"
                @change="minDurationChange"
        >
      </div>
      <div class="search-filter-form-field">
        <label for="maxDuration">Максимальное время полета:</label>
        <input
                id="maxDuration"
                v-model="maxDuration"
                type="number"
                min="0"
                class="input"
                name="maxDuration"
                @change="maxDurationChange"
        >
      </div>
    </form>
  </div>
</template>

<script>
import "./assets/search-filter-form.css";

export default {
  data() {
    return {
      minDuration: null,
      maxDuration: null
    };
  },
  methods: {
    minDurationChange: function({ target }) {
      const { commit } = this.$store;

      commit("changeFilter", { minDuration: target.value });
    },
    maxDurationChange: function({ target }) {
      const { commit } = this.$store;

      commit("changeFilter", { maxDuration: target.value });
    }
  }
};
</script>
