<template>
  <div>
    <div class="search-result-directions" v-for="direction in directions" v-bind:key="direction.dir_number">
      <span class="search-result-directions-item">{{ direction.date }}</span>
      <span class="search-result-directions-item">{{ direction.departure_name }}</span>
      <span class="search-result-directions-item">-></span>
      <span>{{ direction.arrival_name }}</span>
    </div>

    <h5 v-if="directions.length > 0">Предлоджения: {{ offers.length }}</h5>

    <div class="search-result-button" v-for="offer in offers" v-bind:key="offer.carrier_name" @click="offerClick(offer.carrier_code)">
      <div class="search-result-button-title">
        <img class="search-result-button-image" v-bind:src="offer.carrier_logo" />

        <span>
          {{ offer.carrier_name }}
        </span>
      </div>

      <div class="search-result-table-container" v-if="openedCarrier === offer.carrier_code">
        <table class="search-result-table" v-for="segmentOffer in offer.offers" v-bind:key="segmentOffer.min_price" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <th class="search-result-table-header">Аэропорт вылета</th>
            <th class="search-result-table-header">Аэропорт прилета</th>
            <th class="search-result-table-header">Дата вылета</th>
            <th class="search-result-table-header">Дата прилета</th>
            <th class="search-result-table-header">Время в пути</th>
            <th class="search-result-table-header">Цена</th>
          </tr>
          <tr v-for="segment in segmentOffer.segments" v-bind:key="segment.segment_id">
            <td class="search-result-table-item">{{ segment.departure_airport }}</td>
            <td class="search-result-table-item">{{ segment.arrival_airport }}</td>
            <td class="search-result-table-item">-</td>
            <td class="search-result-table-item">-</td>
            <td class="search-result-table-item">{{ formatDuration(segment.duration_minutes) }}</td>
            <td class="search-result-table-item">{{ segment.price }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import "./assets/search-results.css";

export default {
  computed: {
    offers: function() {
      return this.$store.getters.getOffers;
    },
    directions: function() {
      return this.$store.getters.getDirections;
    },
    openedCarrier: function() {
      return this.$store.getters.getOpenedCarrier;
    }
  },
  methods: {
    formatDuration: time => {
      const hours = Math.floor(time / 60);
      const minutes = time % 60;

      return `${hours}:${minutes}`;
    },
    offerClick: function(carrierCode) {
      const { commit, state } = this.$store;

      commit(
        "openCarrier",
        state.search.openedCarrier === carrierCode ? undefined : carrierCode
      );
    }
  }
};
</script>
