<template>
  <form
    @submit="checkForm"
    @reset="resetSearch"
  >
    <div class="search-form-container">
      <div class="search-form-form-field">
        <label for="departureCode">Откуда (IATA):</label>
        <input
          type="text"
          class="input"
          id="departureCode"
          name="departureCode"
          v-model="departureCode"
        >
      </div>

      <div class="search-form-form-field">
        <label for="arrivalCode">Куда (IATA):</label>
        <input
          id="arrivalCode"
          v-model="arrivalCode"
          type="text"
          class="input"
          name="arrivalCode"
        >
      </div>

      <div class="search-form-form-field">
        <label for="date">Дата вылета:</label>
        <input
          id="date"
          v-model="date"
          type="date"
          class="input"
          name="date"
        >
      </div>

      <div class="search-form-form-field">
        <label for="fClass">Класс:</label>
        <select
          id="fClass"
          v-model="fClass"
          name="fClass"
          class="input"
        >
          <option v-for="option in fClassOptions" v-bind:value="option.value" v-bind:key="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>

      <div v-if="isRequesting">
        <img width="30" src="loader.gif" />
      </div>
      <div v-else>
        <input
          class="submit-button"
          type="submit"
          value="Искать"
        >
        <input
          class="submit-button"
          type="reset"
          value="Сброс"
        >
      </div>
    </div>

    <p v-if="errors.length">
      <b>Пожалуйста исправьте указанные ошибки:</b>

      <ul>
        <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
      </ul>
    </p>
  </form>
</template>

<script>
import "./assets/search-form.css";
import { trim } from "lodash-es";

export default {
  data() {
    return {
      departureCode: "",
      arrivalCode: "",
      date: null,
      fClass: "E",
      fClassOptions: [
        { text: "Эконом", value: "E" },
        { text: "Премиум Эконом", value: "W" },
        { text: "Бизнес", value: "B" },
        { text: "Первый", value: "F" }
      ],
      errors: []
    };
  },
  methods: {
    resetSearch: function() {
      const { commit } = this.$store;

      commit("resetSearch");
    },
    checkForm: function(e) {
      e.preventDefault();

      if (this.date && this.departureCode && this.fClass) {
        const { dispatch } = this.$store;

        dispatch("searchOffers", {
          directions: [
            {
              departure_code: trim(this.departureCode),
              arrival_code: trim(this.arrivalCode),
              date: this.date
            }
          ],
          adult_qnt: 1,
          class: this.fClass
        });

        return true;
      }

      this.errors = [];

      if (!this.departureCode) {
        this.errors.push("Требуется указать код отправления.");
      }
      if (!this.arrivalCode) {
        this.errors.push("Требуется указать код прибытия.");
      }
      if (!this.date) {
        this.errors.push("Требуется указать дату вылета.");
      }
      if (!this.fClass) {
        this.errors.push("Требуется указать класс.");
      }
    }
  },
  computed: {
    isRequesting: function() {
      return this.$store.getters.isRequesting;
    }
  }
};
</script>
