<template>
  <div>
    <h3>Ранг матрицы</h3>

    <button @click="calculateMatrix">Вычислить</button>

    <div class="matrix-rank-container" v-for="(matrix, idx) in matrixList" v-bind:key="idx">
      <div >
        <span>{{ matrix.title }}</span>
        <span v-if="idx + 1 === matrixList.length" class="matrix-rank-result">{{ matrix.matrix }}</span>
      </div>

      <div v-if="idx + 1 < matrixList.length" class="matrix-rank-matrix-container">
        <div v-if="idx === 0">
          <MatrixItem :matrix="originMatrix" />
        </div>

        <div v-if="idx > 0 && idx + 1 < matrixList.length">
          <MatrixItem :matrix="matrixList[idx - 1].matrix" />
        </div>

        ->

        <div v-if="idx + 1 < matrixList.length">
          <MatrixItem :matrix="matrix.matrix" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "./assets/matrix-rank.css";

import MatrixItem from "./MatrixItem";

export default {
  components: {
    MatrixItem
  },
  computed: {
    matrixList: function() {
      return this.$store.getters.getMatrixList;
    },
    originMatrix: function() {
      return this.$store.getters.getMatrix;
    }
  },
  methods: {
    calculateMatrix: function() {
      this.$store.commit("calculateMatrix");
    }
  }
};
</script>
