<template>
  <table class="matrix-item-table" cellspacing="0" cellpadding="0" border="0">
    <tr v-for="(item, itemIdx) in matrix" v-bind:key="itemIdx">
      <td class="matrix-item-cell" v-for="(x, idx) in item" v-bind:key="idx">{{ x }}</td>
    </tr>
  </table>
</template>

<script>
import "./assets/matrix-item.css";

export default {
  props: {
    matrix: Array
  }
};
</script>
